* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b3b7bb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

