.gameContainer {
    width: 100%;
    padding: 10px;
    background-color: rgb(245, 241, 241);
    border-radius: 5px;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.13), -10px 10px 5px rgba(0, 0, 0, 0.13);
}

.titleGame {
    padding: 10px;
}

.imgContainer {
    width: 100%;
    height: 200px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoContainer {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.link {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(211, 206, 206);
}