.container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages {
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li {
    list-style: none;
}

.pageNumber {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}